# Object files
*.o
*.ko
*.obj
*.elf

*.symtypes
*.order
*.mod.c
modules.builtin
Module.symvers
.tmp_versions
.*.mod
.*.cmd

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.creator.user
# running-prog
# read-phy-mem
